QHeaderView::section {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                      stop:0 #616161, stop: 0.5 #505050,
                                      stop: 0.6 #434343, stop:1 #656565);
    color: white;
    padding-left: 4px;
    border: 1px solid #6c6c6c;
}

QTableWidget {
    font: 20px;
}

QTableView {
    font: 20px;
}

QTabBar {
    font: 15px;
}

QToolBox::tab {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
                                 stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);
    border-radius: 5px;
    color: black;
}

QToolBox::tab:selected { /* italicize selected tabs */
    font: italic bold;
    color: black;
} 

QListView {
    font: 20px;
}

QDialog QLabel { font: 20px; }
QDialog QComboBox { font: 20px; }
QDialog QLineEdit { font: 20px; }
QDialog QPushButton { font: 20px; }
